body {
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, #e3f2fd, #fff);
    padding: 20px;
  }
  
  .container {
    max-width: 700px;
    margin: auto;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  input {
    padding: 10px;
    width: 100%;
    margin: 15px 0;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background: #1e88e5;
    color: white;
    cursor: pointer;
  }
  
  .exam-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  #timer {
    background: red;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
  }
  
  .option {
    background: #f1f1f1;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .option.selected {
    background: #bbdefb;
  }
  /* timer */
  .timer-wrapper {
    position: relative;
    width: 70px;
    height: 70px;
  }
  
  .progress-ring__circle {
    stroke: #4caf50;
    transition: stroke 0.3s linear;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  #timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
  }
  
  .pulse {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  